{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

<h1>{{ product.name }}</h1>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
{% endif %}

<h3><b>Rp{{ product.price|intcomma }}</b></h3>
<p>{{ product.sold_count }} Sold</p>
<br>

<h3>Product Description</h3>
<p>{{ product.description }}</p>

<p>Only {{product.stock}} left in stock!</p>

<p>
    <b>| {{ product.get_category_display }} |</b>
    {% if product.is_featured %}<b>Featured</b>{% endif %}
    {% if product.is_best_selling %} | <b>Best Selling</b> |{% endif %}
</p>

{% if product.user %}
    <p>Seller: {{ product.user.username }}</p>
{% else %}
    <p>Seller: Anonymous</p>
{% endif %}

{% endblock content %}